.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
/.idea/victoryfarmsdeveloper.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/tatus
/.idea/vcs.xml
/.idea/.gitignore
